# Copy this file to terraform.tfvars and fill in your values
# DO NOT commit terraform.tfvars to version control

tenancy_ocid = "ocid1.tenancy.oc1..your-tenancy-ocid"
region       = "ap-singapore-1"
ssh_public_key = "ssh-rsa AAAAB3... your-key"
